header {
  height: 580px;
  width: 100%;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #4198db;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

.user-icon {
  display: flex;
  align-items: center;
}

.user-name {
  font-size: 1.5em;
}


 @media only screen and (min-width: 1024px) {
  .profile-header {
    width: 40%;
    line-height: 40%;
    height: 400px;
    align-items: center;
    margin-top: 7em;
    margin-left: 2em;
    margin-right: 2em;
  }
 }