button {
  font-family: 'Bungee';
  color: #FFFFFF;
  background-color: #96C0DC;
  border: none;
}

button:hover {
  box-shadow: 0.25em 0.25em black;
  background: #4198db;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

textarea {
  border: none;
  display: block;
  width: 750px;
  height: 40px;
  background-color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  margin-top: .4em;
  padding-left: .5em;
}

.char-and-tweet {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee';
}

.counter {
  color: #545149;
}

.neg-count {
  color: red;
}

.tweet-container {
  margin-left: 15em;
  width: 120vw;
}


@media only screen and (min-width: 1024px) {
  .tweet-container {
    margin-left: 20em;
    width: 90vw
  }
 .new-tweet {
  justify-content: center;
  margin-right: 2em;
  width: 90%
 }
}

